*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
   width: 100%;
   height: 100vh;
   /* background-color: red; */

}

#left{
    position: relative;
    width: 40%;
    height: 100%;
    
}
#right{
    
   width: 60%;
   height: 100%;
   /* background-color: wheat; */
}
#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    /* background-color: red; */
}
#rbot{
    width: 100%;
    height: 50%;
    background-color: blueviolet;
    /* background-image: url('C:\Users\akash\OneDrive\Desktop\REACT\meme_website\src\assets\snake.jpg'); */
    background-image: url('C:\Users\akash\OneDrive\Desktop\REACT\meme_website\src\assets\snake.jpg');
    background-position: center;
    background-size: cover;
}
#rtop-left{
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-image: url('C:\Users\akash\OneDrive\Desktop\REACT\meme_website\src\assets\meme1.jpg');
  background-position: center;
  background-size: cover;
  /* border: 2px solid black; */
}

#rtop-right{
    width: 50%;
    height: 100%;
    background-color: rgb(168, 168, 63);
    background-image: url('C:\Users\akash\OneDrive\Desktop\REACT\meme_website\src\assets\meme5.jpg');
    background-position: center;
    background-size: cover;

    
  /* border: 2px solid black; */

}
#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;


}
#lnavr{
    display: flex;
    align-items: center;
}
#lnavr a{
    margin-right: 20px;
    font-weight: 500;
    font-size: 24px;

}
#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#textcenter h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:90px;
    font-weight: 900;
    line-height: 90px;
}
#textcenter p{
    opacity: .6;
    font-size:20px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#bird{
    color: skyblue;
}

#textcenter button {
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  #textcenter button:hover {
    background-color: dodgerblue;
  }
  


@media (max-width:500px){
   #main{
    flex-direction: column;
   } 
   #main #left{
    width: 100%;
   }
   #main #right{
    width: 100%;
   }
}